.edit-product-modal label {
  display: block; /* Ensures the label is a block-level element */
  margin-bottom: 5px; /* Adds a little space between the label and the input */
}

.edit-product-modal h2 {
  font-size: 30px;
  font-weight: bold;
  color: #333; /* dark gray */
  margin-bottom: 30px;
  padding-left: 20px;
}

.edit-product-modal .form-input {
  display: block; /* Ensures the input also behaves as a block-level element */
  width: 100%; /* Makes the input take the full width of its container */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.buttoncontainer {
  display: flex; /* Use Flexbox to layout the buttons */
  justify-content: flex-end; /* Align buttons to the right */
  margin-top: 10px; /* Space above the button container */
}

.form-button {
  margin-left: 10px; /* Space between buttons */
  font-size: 1rem;
  border: none; 
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; 
  transition: background-color 0.3s; /* Smooth background color transition */
}

.save-button {
  background-color: #0F7C5D; 
  color: white; 
} 

.save-button:hover {
  background-color:#149b77
}

.cancel-button {
  background-color: #6c757d; /* Bootstrap secondary gray */
  color: white; /* White text */
}

.cancel-button:hover {
  background-color: #5a6268; /* Darker shade on hover */
}

