/* Adjust the font URL as needed */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* CSS reset for consistent cross-browser experience */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  background-image: url('../images/court.png'); 
}

.login-box {
  background-color: #fff;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-top: 20px;
  border-radius: 15px;
  box-shadow: 0 0 2px 2px  #c2bfbf;
}

.login-box h1 {
  color: #0F7C5D;
  text-align: center;
  margin-top: 0.5em;
  font-weight: bold;
  font-size:35px;
  font-family: 'Spectral',serif;
}

.login-box p {
  font-size:15px;
  font-family: 'Spectral',serif;
  font-weight: 100;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  padding-bottom:30px;
  margin: 5px;
  color: #666;
}

.input-group {
  position: relative;
  margin-bottom: 1em;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
}

.input-field {
  width: 600px;
  padding: 10px 10px 10px 35px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  font-family:'Spectral',serif;
}

.input-field:focus {
  border-color: #0F7C5D;
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: -1em;
  margin-bottom: 1em;
}

.login-btn {
  background-color: #0F7C5D;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1em;
}

.login-btn:hover {
  background-color: #0d684b; /* A darker shade for hover effect */
}

.footer {
  text-align: center;
  margin-top: 2em;
}

.forgot-password{
  display: block;
  color: #0F7C5D;
  text-decoration: none;
  margin-top: 0.5em;
  font-family: 'Spectral',serif;
}

.forgot-password:hover{
  text-decoration: underline;
}

.error {
  color: red; /* Red color for errors */
  font-size: 0.875em; /* Smaller font size for error messages */
  margin-top: 0.5em; /* Space above the error message */
  margin-bottom: 1em; /* Space below the error message */
  text-align: left; /* Align to the left, or center if you prefer */
}

.below-password {
  display: block; 
}

.login-label{
  font-size:15px;
  font-family: 'Spectral',serif;
  font-weight: bold;
  text-align: center; 
  padding-bottom:10px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .login-box {
    padding: 1em;
  }
}
