/* Data.css */
.data-component {
    font-family: Arial, sans-serif;
    width: 100%; /* Take full width of the parent container */
    max-width: 95%; /* Allow maximum width */
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-height: fit-content;
  }
    
/* Tab styles */
.tabs {
    display: flex;
    /* justify-content: center; */
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.tab {
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.tab.selected {
    border-color: #007bff;
    color: #007bff;
}

/* Category styles */
.categories {
    display: flex;
    /* justify-content: center; */
    margin-bottom: 20px;
    margin-left: 30px;
}

.category {
    padding: 5px 10px;
    margin: 0 5px;
    background: none;
    border: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    margin-bottom: 5px;
}

.category.selected {
    border-bottom-color: #000;
}

/* Add New Data button styles */
.add-new-data {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-data-button {
    padding: 10px 20px;
    border: 2px dashed #ccc;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.add-data-button:hover {
    border-style: solid;
}

.content {
    overflow-x: auto;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.add-new-data {
    text-align: center;
    margin-top: 20px;
}

.add-data-button {
    padding: 10px 20px;
    border: 2px dashed #ccc;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.add-data-button:hover {
    border-style: solid;
}

/* Style for the filter input */
.filter-controls {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items and add space between them */
    margin-bottom: 20px;
}

.filter-input {
    flex: 1; /* Take up remaining space */
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}

.scrollable-table-container {
    max-height: 300px; 
    overflow-y: auto; 
    overflow-x: auto; /* Hides the horizontal scrollbar */
}

/* Style for the table and its cells */
table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: auto;  */
}

th, td {
    padding: 8px;
    border: 1px solid #ddd; /* Border for cells */
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* Define column widths */
th:nth-child(1), td:nth-child(1) { min-width: 60px; max-width: 100px }
th:nth-child(2), td:nth-child(2) { min-width: 60px; max-width: 200px; }
th:nth-child(3), td:nth-child(3) { min-width: 60px; max-width: 200px; }
th:nth-child(4), td:nth-child(4) { min-width: 60px; max-width: 280px; }


.filter-controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-type-selector {
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.status-filter {
    margin-bottom: 20px;
}

.status-selector {
    font-size: 14px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-controls button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.pagination-controls button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.edit-button {
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.edit-button:hover {
    background-color: #0056b3;
}

.edit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.7;
}

.reportTitle{  
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}