/* ProductDetailsModal.css */
.modalBackdrop1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modalContent1 {
    padding: 20px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 80%;
    overflow-y: auto;
  }
  
  .modal-closebutton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    }