.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    background-color: #FFF;
    color: #066a4e;
}

.logocontainer {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo1 {
    height: 55px; 
    width: 55px;
    margin-right: 10px;
    margin-left: 20px;
}

.webName {
    margin: 0;
    /* font-family: 'Spectral', serif; */
    font-family:serif;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    align-items: center;
}

.navbar .links a, 
.navbar .links .dropbtn {
    color: #066a4e;
    padding: 10px 15px;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, .dropdown-content button {
    color:  #0F7C5D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover, .dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
