.navbar {
    position: relative; /* This stays the same */
    display: flex; /* Re-enable flex if it was disabled */
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    color: #0F7C5D;
    background-color: #FFF;
}

.logocontainer {
    display: flex;
    align-items: center; /* Align vertically */
    margin-right: 10px; /* Adjust this value to control space between logo and h4 */
}

.logo1 {
    height: 55px; 
    width: 55px;
    margin-right: 10px; /* Reduce or adjust margin to make logo closer to text */
}

.navbar h4 {
    margin: 0;
    /* padding-left: 20px; */
    /* flex-shrink: 0; */
    font-family: 'Spectral',serif;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar .links a, 
.navbar .links .user-menu {
    color: #0F7C5D;
    padding: 10px 15px; /* Adjust the padding to control space around the links */
    text-decoration: none;
    flex-shrink: 0;
    white-space: nowrap;
}

.navbar .links a:hover,
.navbar .links .user-menu:hover {
    text-decoration: underline;
}

.user-menu {
    position:relative;
    cursor: pointer;
}

.dropdown {
    display: none; /* Initially hidden */
    position: fixed; /* Position relative to the viewport */
    top: 50px; /* Distance from the top of the viewport */
    right: 20px; /* Distance from the right of the viewport, adjust this value based on your layout */
    background-color: white;
    border: 1px solid #ccc;
    z-index: 100; /* High z-index to keep it above other content */
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 100px; /* Set a fixed width or adjust as needed */
}

.user-menu:hover + .dropdown,
.dropdown:hover {
    display: block; /* Ensures the dropdown shows when hovered */
}

.dropdown a, 
.dropdown button {
    display: block;
    padding: 8px 0; /* This gives the dropdown items padding */
    color: #0F7C5D;
    text-align: center;
    border: none;
    background: none;
    width: 100%;
}

.dropdown button {
    cursor: pointer;
}

.dropdown a:hover {
    text-decoration: underline;
}

.logo{
    height: 80px; 
    width: 80px;
}

/* Ensure the user-menu does not grow with the dropdown */
.user-menu {
    flex-shrink: 0;
}
